<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSc_-auKgX1gWoaMaCS1z5QuyvQEIcFbY</string>
	<key>GCM_SENDER_ID</key>
	<string>755103054617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sistemaCitas.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sistema-citas-b1096</string>
	<key>STORAGE_BUCKET</key>
	<string>sistema-citas-b1096.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755103054617:ios:c9560dbd829a273034e388</string>
</dict>
</plist>